body {

  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('imagens/logo.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;       
  background-attachment: fixed;  
}

